html, body {
  overflow: auto;
  background-color: #3ca9e2 !important;
}

.su-ava, .li-ava {
  height: 100px;
  width: 100px;
  background-color: #3ca9e2;
  border-radius: 50%;
  margin: auto;
  align-items: center;
}

.su-form, .li-form {
  border: 0px;
}

.fas {
  display: inline-block;
  width: 110px;
  height: 100px;
  text-align: center;
  vertical-align: bottom;
  margin-top: 30%;
  color: white;
  border: 0px;
}

#button {
  background: #3ca9e2;
  border: 0px;
}

.form-group > .form-control, #footer {
  background-color: #ebebeb;
  border: 0px;
}

.su-title, .li-title, .ftr {
  text-align: center;
}

.ftr > a {
  color: #3ca9e2;
}